<div id="breadcrumbs">
  <%=link_to "Homeroom", schools_path %>
</div>
<div id="content-large">
  <article>
    <div class="theader">
      <div class="float_left limited">
        <h3>Select Students</h3>
            <%= render 'grades/partials/teams' %>
      </div>
      
      <div class="float_left limited">
        <h3>Select Assignments</h3>
            <%= render 'grades/partials/modules' %>
      </div>
    </div>
    <%= form_tag 'collect_save' do %>
      <div class="theader">
        <div class="float_left limited" >
          
          <div id="students" >
            <em>Select Students by team above.</em>
          </div>
        </div>
        
        <div class="float_left limited" >
          
          <div id="assignments">
            <em>Select assignments by module above.</em>
          </div>
        </div>
      </div>
      
      <div class="toolbar" >
        <span class="cell" ><%= submit_tag "save" %></span>
      </div>
    <% end %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
