<div class="title">
  <%= @team.name %> 
</div>
<div class="team">
  <%=link_to "Edit this team", edit_team_path(@team),{remote: true, class: "smallest"} %> 
  <%=link_to "Delete entire Team", @team, {method: "delete", remote: true, class: "smallest"} %>
</div>
<div class="float_left"> 
  <div class="title float_left">Current Members</div>
  <div class="team" style="border-left: 1px solid gray;">
    <% for m in @members %>
      <p class="title smaller" style="margin-left: 10px;">
        <%=link_to m.firstname+" "+m.lastname, profile_path(m.id), {remote: true} %> 
        <%=link_to "remove", "back", {remote: true, class: "smaller"} %>
      </p>
    <% end %>
  </div>
  <div class="title float_left">User list</div>
  <div class="team">
    <% for u in @users %>
      <p class="title smaller" style="margin-left: 10px;">
        <%=link_to u.firstname+" "+u.lastname, profile_path(u.id), {remote: true} %> 
        <%=link_to "Add", "back", {remote: true, class: "smaller"} %>
      </p>
    <% end %>
  </div>
  <div>
    <%=link_to("cancel","/shared/cancel",{remote: true,id: "cancel"})%>
  </div>
</div>
