<div class="float_left limited">
  <p class="title small">
    <%= get_school_name(@team.school_id) if @team.school_id %>
  </p>
  <%= form_for(@team, {remote: true}) do |f| %>
    <%= include_form_validation_errors(@team)%>
    <%= f.hidden_field :owner_id %>
    <p class="title small">
      Give Your Team a name <span class="smallest red">(required)</span>
    </p>
    <%= f.text_field :name, {:size => "20"} %>
  
    
    <%= hidden_field_tag 'team[school_id]', current_user.school %>
    <p class="title small">
      Write a description of your Team.
    </p>
    <%= f.text_area :description,{size: "24x6"} %>
    
    <% if current_user.is_school_admin?(current_user.school) %>
      <p>
        Make this a core Team? <%= f.check_box :coreteam %>
      </p>
    <% end %>
    <p>
      <%= f.submit submit %>
    </p>
  <% end %>
</div>
