<div class="float_left title largest">
  <%= @team.name %> <%=link_to "edit", edit_team_path(@team),{remote: true, class: "smallest"} %>
</div>
<div class="float_left"> 
  <div class="title large">
    Adjust Membership in <%= @team.name %>
  </div>
  
  <div class="title small float_left">
    Current Members
  </div>
  <div class="team">
    <%= render partial: "member", collection: @members %>
  </div>
  
  <div class="title small float_left">
    User list
  </div>
  <div class="team">
    <%= render partial: "user", collection: @users %>
  </div>
</div>
