<div id="content-large">    
   <article>
    <div class="float_left title">
      My Teams
    </div>
    <div class="toolbar limited" >
      <span class="cell">
        <%=link_to(image_tag("iconic/sun_stroke_32x32.png",size: "22x22"),teams_path,{title: "My Teams"}) %>
      </span>
      <span class="cell">
        <%=link_to(image_tag("iconic/share_32x32.png",size: "22x22"),new_team_path,{remote: true, title: "Create a new team"}) %>
      </span>
      <span class="cell">
        <%=link_to(image_tag("iconic/chat_32x32.png",size: "22x22"),team_messages_path,{remote: true, title: "Team Messages"}) %>      
      </span>
      <span class="cell">
        <%=link_to(image_tag("iconic/cog_32x32.png",size: "22x22"),teams_path,{remote: true, title: "Team Maintenance"}) %>      
      </span>
    </div>
    <div id="team_content" class="float_left">
      <div class="title small">
        Teams I own 
      </div>
      <div id="my_teams" class="team">        
        <% for tio in @teams_i_own %>
          <%= render "team", { team: tio } %>
        <% end %>
      </div>
      <div class="title small">
        Teams I belong to
      </div>
      <div id="my_memberships" class="team">
        <% for mt in @my_teams %>
          <%= render "team", { team: mt } %>
        <% end %>
      </div>
    </div>
  </article> 
</div>
<%= nav_bar(@nav_body_content) %>
