<div style="float:left;" >
  <%=link_to( "cancel", cancel_reply_edit_message_path(message.id),{remote: true}) %><br />
  <%= form_tag({:action=>:reply_update}, {method: :put, remote: true}) do |r| %>
    From: <%= get_full_name(message.sender_id) %><br />
    <%= text_area_tag :body, message.body, {:size=>"30x5"} %><br />
    <%= submit_tag "save" %>
  <% end %>
</div>
