<p class="title small">Message Center</p>
<div id="message_editor">
  <%= render "messages/create" %>
</div>
<% if @messages %> 
  <% for m in @messages %>
    <div id="message_<%= m.id %>" class="msg_container" >
      <div class='avatar' style="background-image:url(<%= get_avatar_url(m.sender_id) %>);" onclick="OpenProfile(<%=current_user.id%>)"></div>
      <p class="title small"><%= m.subject%></p>
      <p><%=sanitize(format_plaintext(m.body))%></p>
      <div class="reply_link">
        <%=link_to "reply",reply_message_path(m.id),{:remote=>true, :class=>"smaller"} %>
        <div id="reply_editor"></div> 
        <div>
          <% for c in m.children %>
            <div id="reply_#{c.id}" class="msg_container">
              <%=sanitize(format_plaintext(c.body)) %>
            </div>
          <% end %>
        </div>      
      </div>
    </div>
  <% end %>
<% end %>