<div id='content-large' >

    <div class="floatbox_trans">
      <p class="title">Edit my bio</p>
      <%= form_for @user.note, :url => bio_save_profile_path(@user.id), :html => { :multipart => true, :remote => true } do |f| %>

          <div>
            <div>
              <%= f.text_area :bio, {style: "height: 225px;"} %>
            </div>
            <div>
              <%=link_to "Show Format Help", help_path(1),{remote: true} %>
              <p>
                <%= f.submit "Update Bio" %>
              </p>
            </div>
          </div>

      <% end %>
    </div>
    <div class="floatbox_trans" >
      <p class="title">Edit my Profile</p>
      <%= form_for @user, :url => profile_path(current_user.id), :html => { :multipart => true } do |f| %>
        <p><%= f.submit %></p>
        <p>
          <%= image_tag(current_user.avatar.url(:thumb)) %>
          <label>Avatar Image </label><br />
          <%= f.file_field :avatar %>
        </p>
        <label>Phone: </label><br />
        <%= f.text_field :phone %><br />
        <label>Address: </label><br />
        <%= f.text_area :address,{style: "height: 90px;width: 250px;"} %><br />
        <p>
          <%= image_tag(current_user.wallpaper.url(:thumb))%>
          <label>Wallpaper Image </label><br />
          <%= f.file_field :wallpaper %>
        </p>
        <p>
          <%= image_tag(current_user.iotd(:thumb))%>
          <label>Image of the Day! </label><br />
          <%= f.file_field :iotd %>
        </p>
        <p><%= f.submit %></p>
      <% end %>
    </div>
</div>

<%= nav_bar(@nav_body_content) %>


