<div id='content-large' style="<%= set_wallpaper %>">
  <div class='avatar'>
    <%= image_tag("/system/images/#{@avatar.id}/thumb/#{@avatar.image_file_name}", :alt=>'oops') if @avatar %>
  </div>
  <p class='title'>
    The Home of <%= full_name %>
  </p>
  <p>About <%= full_name %></p>
  <p>
    <%= sanitize current_user.bio if current_user.bio %>
  </p>
  <p>Phone: <%= current_user.phone if current_user.phone %></p>
  <p>
    Home Address:
  </p>
  <p>
    <%= simple_format current_user.address if current_user.address%>
  </p>
  <p class='title'>My Images</p>
  <% for i in @images %>
    <span style="float:left;margin-left:8px;margin-top:8px;margin-bottom:8px;">
      <%= image_tag("/system/images/#{i.id}/thumb/#{i.image_file_name}",:mouseover=>"/system/images/#{i.id}/medium/#{i.image_file_name}",:alt=>'oops')%>
      <br /><%= link_to "delete", mercury_image_path(i.id), method: :delete, data: { confirm: 'Are you sure?' }%>
      <br /><%= link_to "set profile", profile_setavatar_path(i.id), :method=>:post  %>
      <br /><%= link_to "set wallpaper", profile_setwallpaper_path(i.id),:method=>:post %>
    </span>
  <% end %>


</div>
<div id='nav-right'>
  <p class="title">Current Schools</p>
  <hr width="90%"/>
  <% unless @participants.empty? %>
    <% for p in @participants %>
      <p><%= p.school.name %></p>
    <% end %>
  <% end %>
</div>
