<p id="notice"><%= notice %></p>

<p>
  <b>School:</b>
  <%= @observation.school_id %>
</p>

<p>
  <b>Position:</b>
  <%= @observation.position %>
</p>

<p>
  <b>Link:</b>
  <%= @observation.link %>
</p>

<p>
  <b>Color:</b>
  <%= @observation.color %>
</p>

<p>
  <b>Code:</b>
  <%= @observation.code %>
</p>

<p>
  <b>Name:</b>
  <%= @observation.name %>
</p>

<p>
  <b>Public:</b>
  <%= @observation.public %>
</p>


<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
