<% content_for :breadcrumbs do %>
  <%=link_to "blogs", blogs_path %>
<% end %>

<% unless @blog.content_type == 1 %>
  <script>
    $(document).ready(function () {
         $("#wysihtml5-textarea").tabby();  
    });
  </script>
<% end %>



<!--This is lame but the strip_tags helper is only available in the view-->
<% @blog.article = strip_tags(@blog.article) if @blog.content_type == 0 %>
<!--end-->

<%=render "shared/autosave_js", {url: blog_url(@blog)} if @blog.content_type == 0 %>

<%= form_for @blog do |f| %>
  <div id="content-large">   
    <article>
      <%= render( "toolbar_markdown") if @blog.content_type == 0 %>
      <%= render "shared/wysihtml5_toolbar" if @blog.content_type == 1 %>
      <p class="title">Article Content:</p>
      <%= f.text_area :article, {rows: current_user.preference.rows , :id => 'wysihtml5-textarea',:style=>"width:98%;"} %>
    </article>
  </div>
  <aside>
    <p class="title">Category:</p>
    <%= f.text_field :category, {:style=>"width:90%;"} %>
    <p class="title">
      Lead Story? <%= f.select :leadstory, [false,true],{:include_blank => true} %>
    </p>
    <p class="title">
      Featured Story? <%= f.select :featured, [false,true],{:include_blank => true} %>
    </p>
    <p class="title">Article Title:</p>
    <%= f.text_field :topic, {:style=>"width:90%;"} %>
    <p class="title">Article Excerpt:</p>
    <%= f.text_area :excerpt, {:style=>"width:90%;height:100px;"} %>
    <br /> <%= f.submit :update %> <%=raw content_type_link(@blog.content_type, "toggle_content_type")%>
  </aside>
<% end %>

<%=render "shared/wysihtml5_js" if @blog.content_type == 1 %>
