<%= form_for @blog do |f| %>
  <div id="content-large">
    <article>
      <p class="title">Article Content:</p>
      <%= f.text_area :article, {:style=>"width:98%;height:400px;"} %>
    </article>
  </div>
  <aside>
    <p class="title">Category:</p>
    <%= f.text_field :category, {:style=>"width:90%;"} %>
    <p class="title">
      Lead Story? <%= f.select :leadstory, [false,true],{:include_blank => true} %>
    </p>
    <p class="title">
      Featured Story? <%= f.select :featured, [false,true],{:include_blank => true} %>
    </p>
    <p class="title">Article Title:</p>
    <%= f.text_field :topic, {:style=>"width:90%;"} %>
    <p class="title">Article Excerpt:</p>
    <%= f.text_area :excerpt, {:style=>"width:90%;height:100px;"} %>
    <br /> <%= f.submit :update %>
  </aside>
<% end %>