<div id="content-large">
  <article>
    <div class="floatbox_trans">
      <h1>Listing blogs</h1>
      <%= link_to 'New Blog', new_blog_path %><br />

        <div class="theader">
          <span class="cell" style="width:6%;">Lead Story?</span>
          <span class="cell" style="width:24%;">Category</span>
          <span class="cell" style="width:40%;">Topic</span>
          <span class="cell" style="width:14%;">Admin</span>
        </div>
      
      <% @blogs.each do |blog| %>
        <div class="trow">
          <span class="cell" style="width:6%;color:<%=set_color(blog.leadstory,"red","gray")%>;"><%= blog.leadstory %></span>
          <span class="cell" style="width:24%;"><%= sanitize blog.category %></span>
          <span class="cell" style="width:40%;"><%= sanitize blog.topic %></span>
          <span class="cell" style="width:5%;"><%= link_to 'Show', blog %></span>
          <span class="cell" style="width:4%;"><%= link_to 'Edit', edit_blog_path(blog) %></span>
          <span class="cell" style="width:5%;"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      <% end %>

    </div>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
