<div id="content-large">
  <article>
    <div class="floatbox_trans">
      <h1>Listing blogs</h1>
      <%= link_to 'New Blog', new_blog_path %><br />

        <div class="theader">
          <div class="cell" style="width:50px;">Lead Story?</div>
          <div class="cell" style="width:125px;">Category</div>
          <div class="cell" style="width:200px;">Topic</div>
          <div class="cell" style="width:120px;">Admin</div>
        </div>
      
      <% @blogs.each do |blog| %>
        <div class="trow">
          <div class="cell" style="width:50px;"><%= blog.leadstory %></div>
          <div class="cell" style="width:125px;"><%= sanitize blog.category %></div>
          <div class="cell" style="width:200px;"><%= sanitize blog.topic %></div>
          <div class="cell" style="width:30px;"><%= link_to 'Show', blog %></div>
          <div class="cell" style="width:30px;"><%= link_to 'Edit', edit_blog_path(blog) %></div>
          <div class="cell" style="width:60px;"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>

    </div>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
