<div class="floatbox_trans">
  <h1>Listing blogs</h1>
  
  <table cellpadding='10px' bordercolor="#ddd" border="1px" style='text-align:center;'>
    <tr>
      <th>User</th>
      <th>Lead Story?</th>
      <th>Category</th>
      <th>Topic</th>
    </tr>
  
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.user_id %></td>
      <td><%= blog.leadstory %></td>
      <td><%= sanitize blog.category %></td>
      <td><%= sanitize blog.topic %></td>
      <td><%= link_to 'Show', blog %></td>
      <td><%= link_to 'Edit', '/editor'+ blog_path(blog) %></td>
      <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  
  <%= link_to 'New Blog', new_blog_path %>
</div>
