<div id="content-large">
  <article>
    <% if current_user.user_admin.level > 1 %>
      <%=link_to "edit", edit_blog_path(@blog.id) %> | 
      <%=link_to "Blog Admin", blogs_path %>
    <% end %>
    <p class="title smaller">
      Category: <%= @blog.category %>
    </p>
    <p class="title">
      <%= @blog.topic %>
    </p>
    <div class="article_content">
      <%= smart_format(@blog.content_type,@blog.article) %>
    </div>
  </article>
</div>  
<%= nav_bar(@nav_body_content) %>
