<!--This is the Assignment home page-->
<% content_for :breadcrumbs do %>
  <span class="cell"><%=link_to "Homeroom", homeroom_school_path(@school)%></span>
<% end %>
<div id="content-large">
  <article>
    <h2><%= @assignment.name %><%= " - "+letter_grade(@grade.grade) if @grade %></h2>
    <div class="toolbar" >
      <span class="cell"><%=link_to "Instructions/Resources", school_assignment_help_path(@school,@assignment),{remote: true, title: "Click to view Assignment Instructions and Resources."}  %></span>    
      <span class="cell" ><%=link_to "turn-in",school_hand_in_path(@school,assignment_id: @assignment),{remote: true, method: "post", title: "Click to make this assignment available to your checker."} %></span>
      <span class="cell" ><%=link_to(image_tag("iconic/clock_16x16.png",size: "16x16"), school_assignment_time_remaining_path(@school,@assignment),{remote: true, title: "Click to view time remaining."}) %></span>
      <span id="stopwatch" class="cell" > 
        <%=image_tag("gray/arrow1_w.png",size: "10x10")%> Click to check time remaining
      </span>
    </div>
    
    <div class="float_left">
      <p class="title large">
        Assignment Tasks <span id="checker" class="smallest red" ><%= " -- Checker: #{@checker.fullname}" if @checker %></span>
      </p>
      <div class="theader">
        <span class="cell" style="width:60%;">Task Name</span>
        <span class="cell" style="width:25%;">Print/View</span>
      </div>
      <%= render @assignment.tasks %>
    </div>
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
