<p id="notice"><%= notice %></p>

<p>
  <b>School:</b>
  <%= @assignment.school_id %>
</p>

<p>
  <b>Book:</b>
  <%= @assignment.book_id %>
</p>

<p>
  <b>Scoresheet:</b>
  <%= @assignment.scoresheet_id %>
</p>

<p>
  <b>Order:</b>
  <%= @assignment.order %>
</p>

<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Weight:</b>
  <%= @assignment.weight %>
</p>

<p>
  <b>Module:</b>
  <%= @assignment.module %>
</p>

<p>
  <b>Resources:</b>
  <%= @assignment.resources %>
</p>

<p>
  <b>Instructions:</b>
  <%= @assignment.instructions %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
