<% if @messages %> 

  <p class="title large">Team Message Center</p>
  
  <div id="message_editor">
    New Message <%= render "create" %>
  </div>

  <% for m in @messages %>
    <%=render "message", {message: m } %>
  <% end %>
  
  <!--Pager Code below this line -->
  
  <% if @page > 1 %>
    <div class="more">
      <%=link_to "...previous", team_messages_path({ page: (@page-2)}),{remote: true} %>
    </div>
  <% end %>
  <% if @pagelabel %>
    <div class="more">
      <span> <%=@current_count if @current_count > 0 %> </span>
      <%=link_to @pagelabel, team_messages_path({ page: @page||0 }),{remote: true} %>
    </div>
  <% end %>
  
  <!-- End Pager Code -->
  
  
<% end %>