<% content_for :breadcrumbs do %>
  <%=link_to "Due-Date Home Page", admin_duedates_path %>
  <%=link_to "Re-order list", list_admin_duedates_path(team: @team.id,module: @mod_id) %>
<% end %>
<div id="content-large">
  <article>
    
    <div>
      <h2>Add Due Dates to Assignments</h2>
      <p class="title large">Team: <%= @team.name %></p>
      <p class="title large">Module: <%= @mod_id %></p>
    </div>
    <div class="float_left">
        <div id="table_header" class="theader">
          <span class="cell" style="width:20%;">Name</span>
          <span class="cell" style="width:50%;">Due Date</span>
        </div>
        <%= render partial: "duedate", collection:  @duedates %>       
    </div> 
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
