<div class="trow shadow">
  <span class="cell" style="width:30%;"><%= get_task_link(@school,@assignment,task) %></span>
  <span class="cell" style="width:18%;"><%=link_to "grading view", user_task_grading_view_path(current_user.id,task),{remote: true} %></span>
  <span class="cell" style="width:4%;"><%= link_to image_tag("iconic/info_8x16.png",size:"8x16"),admin_assignment_task_show_help_path(@assignment,task),{remote: true,title:"Show Task Instructions."} %></span>
  <span class="cell" style="width:7%;"><%= document_print_link(task) %></span>
  <% if task.task_type == 3 %>
    <span class="cell" style="width:4%;">
      <%=link_to image_tag("iconic/eye_16x12.png",size: "16x12"), task_images_path(task), {remote: true, title: "Chart Images"} %>
    </span>
  <% end %>
</div>

