<%= form_for([:admin, @user_admin]) do |f| %>

  <%= include_form_validation_errors(@user_admin) %>

  <div>
  	<%= @user.firstname + " " + @user.lastname %>
  </div>
  <br />
  <div class="field">
    <%= f.select :level,[["No Admin Priviledges", 0], ["Contributor", 1],["Managing Admin", 2], ["Super Admin", 3]] %>
    <%= f.submit %>
  </div>
<% end %>
