<div id="content-large">
  <article>
    <div class="floatbox_trans">
      <h1>Site Administrators</h1>
      <p>Search by Last name below:</p>
      <%= form_tag admin_user_admins_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
      <% if @users %>
            <div class="theader" style="width:100%">
              <div class="cell" style="width:75px;">First<br />Name</div>
              <div class="cell" style="width:75px;">Last<br />Name</div>
              <div class="cell" style="width:75px;">Admin<br />Level</div>
              <div class="cell" style="width:125px;">Manage<br />Admins</div>
              <div class="cell" style="width:125px;">Review Board<br />Status</div>
            </div>
          <% @users.each do |u| %>
            <div class="trow <%= cycle('even','odd')%>" style="width:100%">
              <div class="cell" style="width:75px;color:black;"><%= u.firstname if u %></div>
              <div class="cell" style="width:75px;color:black;"><%= u.lastname if u %></div>
              <div class="cell" style="min-width:75px;color:black;"><%= u.admin_status %></div>
              <% if u.user_admin %>
              	<div class="cell" style="width:125px;"><%= link_to "Edit Admin Level", edit_admin_user_admin_path(u.id) %></div>
              <% else %>
              	<div class="cell" style="width:125px;"><%= link_to "Make an Admin", edit_admin_user_admin_path(u.id)%></div>
              <% end %>
              <% if u.reviewboard == true %>
                <div class="cell" style="width:125px;"><span style="font-weight:bold;color:red;">True </span><%= link_to "Edit status", reviewboard_profile_path(u.id)%></div>
              <% else %>
                <div class="cell" style="width:125px;"><span style="font-style:italic;">False </span><%= link_to "Edit status", reviewboard_profile_path(u.id)%></div>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
