<div id="paragraph_<%= display.id.to_s %>" class="trow <%= cycle("odd","even") %>">
  <span class="cell" style="width:75px;"><%= display.position %></span>
  <span class="cell" style="width:85px;"><%= display.startref %></span>
  <span class="cell" style="width:85px;"><%= display.endref %></span>
  <span class="cell" style="width:75px;"><%= display.verse_count %></span>
</div>
