<%=form_for [:admin, @book, @paragraph] do |f| %>
  <div class="cell" style="width:60px;">
    <%= f.number_field :position, {:disabled=>true,:style=>"width:26px;"} %>
  </div>
  <div class="cell" style="width:75px;">
    <%= f.text_field :startref, {:style=>"width:50px;"}  %>
  </div>
  <div class="cell" style="width:75px;">
    <%= f.text_field :endref, {:style=>"width:50px;"}  %>
  </div>
  <div class="cell" style="width:75px;">
    <%= f.number_field :verse_count, {:style=>"width:50px;"}  %>
  </div>
  <div class="cell" style="width:150px;">
    <%= f.submit :save %> 
    <%=link_to "cancel", admin_book_paragraphs_path(@book) %>
  </div>
<% end %>
