<% content_for :breadcrumbs do %>
  <%=link_to "Choose another book", admin_tools_path %>
<% end %>
<div id="content-large">
  <article>
    <p class="title larger bolder"><%= @book.name %> - Paragraphs - <%= @version.name %></p>
    <p>
      <%=link_to "Add new paragraphs to the end", new_admin_version_book_paragraph_path(@version,@book) %>
    </p>

    <div id="table_header" class="theader">
      <span class="cell" style="width:60px;">Order</span>
      <span class="cell" style="width:75px;">Start Ref</span>
      <span class="cell" style="width:75px;">End Ref</span>
      <span class="cell" style="width:75px;">Verse Count</span>
      <span class="cell" style="width:100px;">Admin</span>
    </div>
    <%= render partial: "paragraph", collection: @paragraphs %>
          
    
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
