<% content_for :breadcrumbs do %>
  <%=link_to "Choose another book", admin_tools_path %>
  <%=link_to "Edit (#{@book.name})", admin_version_book_paragraphs_path(@version,@book)%>
<% end %>
<div id="content-large">
  <article>   
    <h1>Create New Paragraphs for: <%= @book.name %> - <%= @version.name %></h1>
    <div class="theader">
      <span class="cell" style="width:60px;">Order</span>
      <span class="cell" style="width:75px;">Start Ref</span>
      <span class="cell" style="width:75px;">End Ref</span>
      <span class="cell" style="width:75px;">Verse Count</span>
    </div>
    <div class="trow">
      <%=form_for [:admin, @version, @book, @paragraph] do |f| %>
        <%= f.hidden_field :version_id %>
        <span class="cell" style="width:60px;">
          <%= f.number_field :position, {:disabled=>true,:style=>"width:26px;"} %>
        </span>
        <span class="cell" style="width:75px;">
          <%= f.text_field :startref, {autofocus: true,:style=>"width:50px;"}  %>
        </span>
        <span class="cell" style="width:75px;">
          <%= f.text_field :endref, {:style=>"width:50px;"}  %>
        </span>
        <span class="cell" style="width:75px;">
          <%= f.number_field :verse_count, {:style=>"width:50px;"}  %>
        </span>
        <span class="cell" style="width:150px;">
          <%= f.submit :save %>
        </span>
      <% end %>
    </div>
      
    <!-- Display current paragraphs -->
    <div id="paragraph_header" class="theader" style="width:100%;">
      <span class="cell" style="width:60px;">Order</span>
      <span class="cell" style="width:75px;">Start Ref</span>
      <span class="cell" style="width:75px;">End Ref</span>
      <span class="cell" style="width:75px;">Verse Count</span>
    </div>
    <%= render partial: "display", collection: @paragraphs %>

  </article>
</div>

<%= nav_bar(@nav_body_content) %>
