<div id="content-large">
  <article>
    <%=link_to "Choose another book", admin_tools_index_path %><br />
    <%=link_to "Edit all paragraphs for #{@book.name}", admin_book_paragraphs_path(@book)%>
    <h1>Create New Paragraphs for: <%= @book.name %> - <%= @version.name %></h1>
    <div class="theader">
      <span class="cell" style="width:60px;">Order</span>
      <span class="cell" style="width:75px;">Start Ref</span>
      <span class="cell" style="width:75px;">End Ref</span>
      <span class="cell" style="width:75px;">Verse Count</span>
      <span class="cell" style="width:100px;">Admin</span>
    </div>
    <div class="trow">
      <%=form_for [:admin, @book, @paragraph] do |f| %>
        <span class="cell" style="width:60px;">
          <%= f.number_field :position, {:disabled=>true,:style=>"width:26px;"} %>
        </span>
        <span class="cell" style="width:75px;">
          <%= f.text_field :startref, {autofocus: true,:style=>"width:50px;"}  %>
        </span>
        <span class="cell" style="width:75px;">
          <%= f.text_field :endref, {:style=>"width:50px;"}  %>
        </span>
        <span class="cell" style="width:75px;">
          <%= f.number_field :verse_count, {:style=>"width:50px;"}  %>
        </span>
        <span class="cell" style="width:150px;">
          <%= f.submit :save %>
        </span>
      <% end %>
    </div>
      
    
    <% unless @paragraphs.empty? %>
      <div class="theader" style="width:100%;">
        <span class="cell" style="width:60px;">Order</span>
        <span class="cell" style="width:75px;">Start Ref</span>
        <span class="cell" style="width:75px;">End Ref</span>
        <span class="cell" style="width:75px;">Verse Count</span>
      </div>
      <% for p in @paragraphs %>
        
        <div id="paragraph_<%= p.id %>" class="trow <%= cycle("odd","even") %>" style="width:100%;">
          <span class="cell" style="width:60px;"><%= p.position %></span>
          <span class="cell" style="width:75px;"><%= p.startref %></span>
          <span class="cell" style="width:75px;"><%= p.endref %></span>
          <span class="cell" style="width:75px;"><%= p.verse_count %></span>
        </div>
      <% end %>
    <% end %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
