<div id="content-large">
  <article>
    <h1>
      <%= @assignment.name %> 
      <span class="smallest">
        &nbsp;&nbsp;
        <%=link_to "back", edit_admin_assignment_path(@assignment) %> &nbsp;&nbsp;
        <%=link_to "normal view", school_assignment_path(@school,@assignment) %>
      </span>
    </h1>
    <p class="title larger">Task Administration</p>
    <p>Add or Edit tasks for this assignment below.</p>
    <p><%=link_to "Add a Task", new_admin_assignment_task_path(@assignment),{ remote: :true }%></p>
    <div id="task_area">
      <% unless @tasks.empty? %>
          <div class="trow">
            <div class="hcell" style="width:175px;">Name</div>
            <div class="hcell" style="width:50px;">Percent</div>
            <div class="hcell" style="width:100px;">Type</div>
            <div class="hcell" style="width:100px;">Template</div>
            <div class="hcell" style="width:100px;">Admin</div>
          </div>
          <div>
          <% for t in @tasks %>
            <% bc = cycle("odd","even") %>
            <div class="trow">
              <div class="rcell left_end <%=bc%>" style="width:175px;"><%= t.name %></div>
              <div class="rcell <%=bc%>" style="width:50px;"><%= number_to_percentage(t.percent, precision:0) %></div>
              <div class="rcell <%=bc%>" style="width:100px;"><%= get_task_type_name(t.task_type) %></div>
              <div class="rcell <%=bc%>" style="width:100px;"><%= get_templat_name(t.templat_id) %></div>
              <div class="rcell right_end <%=bc%>" style="width:100px;">
                <%=link_to "edit", edit_admin_assignment_task_path(@assignment,t),remote: true %> 
                <%=link_to "destroy",admin_assignment_task_path(@assignment,t), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
          </div>
      <% end %>
    </div>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
