<%= form_for [:admin, @school, @scoresheet] do |f|  %>

  <%= include_form_validation_errors(@scoresheet) %>

  <p>Name</p>
  <%= f.text_field :name, {:style=>"width:300px;"} %>
  <p>Content</p>
  <%= f.text_area :content, {:style=>"width:300px;height:350px;"} %>
  <br /><%= f.submit :save %>
<% end %>

