<% content_for :breadcrumbs do %>
  <%=link_to "Admin Tools", admin_tools_path %>
<% end %>
<div id="content-large">
  <article>
    
    <h1><%= @school.name %> - Scoresheets</h1>
    <p>Choose a scoresheet from the list below to edit or create a new one.</p>
    <p>
      <%=link_to "Create a new scoresheet", new_admin_school_scoresheet_path(@school) %>
    </p>
    <div class="float_left limited">
      <div id="scoresheet_element">
        <% unless @scoresheets.empty? %>
            <div class="theader" style="width:100%;">
              <div class="cell" style="width:50%;">Name</div>
              <div class="cell" style="width:40%">Admin</div>
            </div>
            <% for s in @scoresheets %>
              
              <div class="trow <%= cycle("odd","even")%>" style="width:100%;">
                <div class="cell" style="width:50%;"><%= s.name %></div>
                <div class="cell" style="width:40%;">
                  <%=link_to "edit", edit_admin_school_scoresheet_path(@school,s) %> 
                  <%=link_to "delete", admin_school_scoresheet_path(@school,s), method: :delete, data: { confirm: 'Are you sure?'} %>
                </div>
              </div>   
            <% end %>
        <% end %>
      </div>
    </div>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
