<h1>Welcome to StudyWorx!</h1>
<p>You are signed in as <%= current_user.email if current_user %></p>
<p>Your first name is: <%= current_user.firstname if current_user %></p>
<p>Your last name is: <%= current_user.lastname if current_user %></p>
<p>Your full name is: <%= full_name %></p>
<p>Your Phone number is: <%= current_user.phone if current_user %></p>
<p>Your address is:</p> 
<p><%= simple_format(current_user.address) if current_user %></p>


