<div id="content-large">
  <div class="article">
    <% if current_user %>
      <% if session[:admin_level] and session[:admin_level] > 0 %>
        <%= link_to "edit article", "/editor"+ blog_path(@current_article.id)%>
      <%end%>
    <%end%>
    <h1><%= @current_article.topic %></h1>
    <div><%=relaxed_sanitize @current_article.article%></div>
  </div>
</div>
<div id="nav-right">
  <%= hidden_div_unless(current_user, id: 'profile_link') do %>
      <%= nav_heading(full_name ) if current_user %>
  <% end %>
  <ul>
  <% for story in @stories %>
    <li><%= link_to story.topic, home_path(story.id) %></li>
  <%end%>
</ul>
</div>



