<div id="ppoint_<%=@ppoint.id%>" class="pp">
  <%=form_for [@task,@ppoint], {remote: true} do |f| %>
    <div>
      <span><%= f.submit :save %></span>
      <span>&nbsp;</span>
      <span><%=link_to "Delete",task_ppoint_path(@task,@ppoint),{method: :delete, remote: true}%></span>
    </div>
    <div>
      <span><%= f.select :observation_id, options_from_collection_for_select(@observations,"id","name"), prompt: "Choose..." %></span>
      <span><%= f.select :color, options_for_select(["black","red","darkred","blue","navy","purple","green","goldenrod","brown"],"black")%></span> 
    </div>
    <%= f.text_area :content, {rows: "3",style:"width:97%;"} %>
    
  <% end %>
</div>
