<div id="insert_<%=@title.id.to_s%>" class="book_title insert_select">
  <span id="cancel"  class="title smallest"><%=link_to "Cancel", cancel_path, {remote: true} %></span>
  <span class="title smallest">Click a title type to insert -></span>
  <span class="title smallest"><%=link_to "Book", task_title_create_title_path(@task,@title,title_type: 5),{method: :post, remote: true} %></span>
  <span class="title smallest"><%=link_to "Division", task_title_create_title_path(@task,@title,title_type: 4),{method: :post, remote: true} %></span>
  <span class="title smallest"><%=link_to "Section", task_title_create_title_path(@task,@title,title_type: 3),{method: :post, remote: true} %></span>
  <span class="title smallest"><%=link_to "Segment", task_title_create_title_path(@task,@title,title_type: 2),{method: :post, remote: true} %></span>
</div>
