<div id="ppoint_<%= ppoint.id.to_s %>" data-taskid="<%=@task.id%>" data-id="<%=ppoint.id%>" class="pp clickable" style="color:<%= ppoint.color %>;" title="<%=ppoint.observation.name%>">
  <%= formatter("#{ppoint.observation.code} #{ppoint.content}") %>
</div>
