<div id="title_<%= title.id %>" class="<%= get_class(title.title_type) %> sortable editable" contentEditable="true" data-new_title_url="<%= task_title_new_title_path(title.task_id,title.id)%>" data-url="<%= task_title_save_path(title.task_id,title.id) %>">
  <%= title.title %>
</div>