
<%= content_for :breadcrumbs do %>
  <%=link_to @assignment.name, school_assignment_path(current_user.school,@assignment) %>
  <%=link_to image_tag("iconic/list_nested_16x14.png",size: "16x14"), task_charts_start_path(@task), {title: "Titles Home", class: "builder"} %>
  <%=link_to image_tag("iconic/layers_16x14.png",size: "16x14"),task_charting_path(@task),{onClick: "ShowSpinner()",title: "Charting Home"} %>
  <%=link_to image_tag("iconic/eye_16x12.png",size: "16x12"), task_images_path(@task), {remote: true, title: "Chart Images"} %>
  <%=link_to image_tag("iconic/folder_stroke_16x16.png",size: "16x16"),task_related_documents_path(@task) , {title: "Click to view related documents", remote: true}%>
  <%=link_to image_tag("iconic/clock_16x16.png",size: "16x16"),assignment_time_remaining_path(@task.assignment_id),{remote: true, title: "Check time remaining for this assignment."} %>
  <%=link_to image_tag("iconic/cog_16x16.png",size: "16x16"), task_charting_tools_path(@task), {remote: true, title: "Charting Tools"} %>
  
<% end -%>

<div id="content-large">
  <article>
    <p class="title_center">
      <%=link_to "Print Paragraph Titles", user_task_pt_print_path(current_user,@task.id) %>
    </p>
    <p class="title center">
      Click on a Segment Title to Chart...
    </p>
    <%= render partial: "outline", collection: @titles %>
  </article>
</div>  

<%= nav_bar(@nav_body_content)%>
