<div>
  <div class="noprint">
    <%= link_to "close", :back %>
  </div>
  <header>    
    <h2><%= @task.assignment.name %></h2>
    <p style="text-align: right;"><%= current_user.fullname %></p>
  </header>
  <section>
      <%= get_chart_image(current_user,@task,"horizontal") %>

  </section>

    <% @verticals.each do |v| %>
      <section>

          <%= get_chart_image(current_user,@task,v,"vertical")%>
        

          <%= smart_format(v.charttext.content_type,v.charttext.content) %>   
        
      </section>
    <% end %>

</div>
