<%= content_for :breadcrumbs do %>
  <span><%=link_to @assignment.name, school_assignment_path(current_user.school,@assignment) %></span>
<% end -%>

<div id="content-large">
  <article>
    <h2>Chart Builder - <%= @assignment.name %></h2>
    <div id="title-container">
      <% if @titles %>
        <%= render partial: "title", collection: @titles %>
      <% else %>
        <%= render "start_button" %>
      <% end %>
    </div>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>

<%= render "title_js" %>

