<% content_for :breadcrumbs do %>
  <%=link_to "Homeroom", schools_path %>
<% end %>

<div id="content-large">
  <article>
    <h2>School Orders</h2>
    <div class="theader">
      <span class="cell" style="width: 25%;">Name</span>
      <span class="cell" style="width: 25%;">Owner</span>
      <span class="cell" style="width: 12%;">Approved</span>
      <span class="cell" style="width: 10%;">Price</span>
      <span class="cell" style="width: 10%;">Edit</span>
      <span class="cell" style="width: 8%;">Delete</span>
    </div>
    <% @orders.each do |o| %>
      <div class="trow">
        <span class="cell" style="width: 28%;">
          <%= o.name %>
        </span>
        <span class="cell" style="width: 25%;">
          <%= o.user.fullname %>
        </span>
        <span class="cell" style="width: 12%;color:<%= set_color(o.approved,"green","red")%>;">
          <%= tfmsg(o.approved,"True","Pending") %>
        </span>
        <span class="cell" style="width: 10%;">
          <%= number_to_currency(o.price) %>
        </span>
        <span class="cell" style="width: 8%;">
          <%=link_to "edit", order_path(o) %>
        </span>
        <span class="cell" style="width: 8%;">
          <%=link_to 'Destroy', order_path(o), method: :delete, data: { confirm: 'Are you sure?' } %>
        </span> 
      </div>      
    <% end %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
