
<%= form_for(@document,{remote: true}) do |f| %>
  
  <%= include_form_validation_errors(@document) %>
  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :school_id %>
  <%= f.hidden_field :assignment_id %>
  <%= f.hidden_field :task_id %>
  <%= f.hidden_field :content_type %>
  
  <%= smart_toolbar(@document.content_type, "toolbar_markdown")%>
  
  <div class="field">
    <%= f.text_area :content, { id: 'wysihtml5-textarea', style: "width:96%"} %>
  </div>

<% end %>
