<% unless @document.content_type == 1 %>
  <script>
    $(document).ready(function () {
         $("#wysihtml5-textarea").tabby();  
    });
  </script>
<% end %>

<div id="editor_container" >
  <%= form_for(@document,{remote: true}) do |f| %>
    
    <%= include_form_validation_errors(@document) %>
    
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :school_id %>
    <%= f.hidden_field :assignment_id %>
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :content_type %>
    
    <%= render "toolbar_markdown" %>
    <%= render "shared/wysihtml5_toolbar" if @document.content_type == 1 %>
    
    <div class="float_left shadow" style="width:97%;" >
      <%= f.text_area :content,  {rows: current_user.preference.rows, id: 'wysihtml5-textarea',style: "width:99%;"} %>
    </div>
  
  <% end %>
</div>
