<div class="title smaller">Save Ctrl+s | Undo Ctrl+z </div>
<div class="toolbar">
  <span class="cell"><%=link_to image_tag("gray/save.png", size: "20x20"), "#logolink",{id: "here", title: "Save"} %></span>
  <span class="cell">&nbsp;</span>
  <span class="cell"><%=link_to image_tag("iconic/fullscreen_32x32.png",size: "20x20"), document_fullscreen_path(@document),{title: "Switch to fullscreen mode."} if @normal %></span>
  <span class="cell"><%=link_to image_tag("iconic/fullscreen_exit_32x32.png",size: "20x20"), document_normal_path(@document),{title: "Return to normal mode."} unless @normal %></span>
  <span class="cell"><%=link_to image_tag("iconic/document_stroke_32x32.png",size: "20x20"), document_path(@document),{remote: true,title: "Preview Document"} %></span>
  <span class="cell"><%=link_to image_tag("iconic/read_more_32x32.png",size: "20x20"), document_endnote_path(@document),{remote: true, title: "Open Endnotes for editing."} %></span>
  <span class="cell"><%=link_to image_tag("iconic/book_28x32.png", size: "16x20") ,admin_assignment_show_help_path(@document.assignment_id),{class: "noauto",remote: true, title: "Open Assignment Instructions."} %></span>
  <span class="cell"><%=link_to image_tag("iconic/book_alt_32x32.png", size: "20x20"),admin_assignment_task_show_help_path(@document.assignment_id,@document.task_id),{class: "noauto",remote: true, title: "Open Task Instructions."} %></span>
  <span class="cell"><%=link_to image_tag("iconic/lightbulb_20x32.png",size: "14x20"),help_path(1),{class: "noauto",remote: true, title: "View Markdown Cheatsheet"} %></span>
  <span class="cell"><%=link_to image_tag("iconic/denied_32x32.png",size: "20x20"), close_popup_path, {class: "noauto",remote: true, title: "Close popup viewer"} %></span>

  <span class="cell seperator"><%=link_to image_tag("iconic/loop_alt4_32x24.png",size: "32x20"),"#logolink",{id: "autopreview-trigger",title: "click checkbox to auto-preview"} if @document.content_type == 0 %><%=check_box_tag "autopreview" if @document.content_type == 0 %></span>
  <span class="cell">&nbsp;</span>
  
  <span class="cell"><%=link_to image_tag("iconic/x_28x28.png",size: "20x20"), document_path(@document),{method: "delete",title: "Delete", data: { confirm: 'Are you sure?'}}%></span>
    
</div>
      