<h1>Listing documents</h1>

<table>
  <tr>
    <th>User</th>
    <th>School</th>
    <th>Assignment</th>
    <th>Task</th>
    <th>Content</th>
    <th>Content type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.user_id %></td>
    <td><%= document.school_id %></td>
    <td><%= document.assignment_id %></td>
    <td><%= document.task_id %></td>
    <td><%= document.content %></td>
    <td><%= document.content_type %></td>
    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
