
  
<div id="content-large" >  
  <article>
    <p id="breadcrumbs">
      <%=link_to "#{@task.assignment.name} task list", school_assignment_path(@task.assignment.school_id, @task.assignment_id) %>
    </p>
    <h1><%= "#{@task.assignment.name} - #{@task.name}" %></h1>
        
    <%= render 'form' %>

  </article>
</div>

<%= nav_bar(@nav_body_content)%>

<%= smart_edit(@document.content_type, document_path(@document)) %>
