<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @document.user_id %>
</p>

<p>
  <b>School:</b>
  <%= @document.school_id %>
</p>

<p>
  <b>Assignment:</b>
  <%= @document.assignment_id %>
</p>

<p>
  <b>Task:</b>
  <%= @document.task_id %>
</p>

<p>
  <b>Content:</b>
  <%= @document.content %>
</p>

<p>
  <b>Content type:</b>
  <%= @document.content_type %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
