<div class="float_left">
  <p class="title"><%= @school.name %></p>
  <p class="title small">Admin Toolbar</p>
  <%=link_to "Admin Tools", admin_tools_path %><br />
  <%=link_to "School Admin", edit_admin_school_path(@school) %><br />
  <%=link_to "Assignment Admin", admin_assignments_path %><br />
  <%=link_to "Due Time Admin", admin_duedates_path %><br />
  <%=link_to "Template Admin", admin_school_templats_path(current_user.school) %><br />
  <%=link_to "Scoresheet Admin", admin_school_scoresheets_path(current_user.school) %><br />
  <%=link_to "Observation Admin", admin_school_observations_path(current_user.school) %><br />
  <%=link_to "Reports", admin_reports_path %><br />
  <%=link_to "Personnel Admin", admin_tools_personnel_path %><br />
  <%=link_to( "System help editor", admin_helps_path) if is_admin %>
</div>

