<% content_for :breadcrumbs do %>
  <%=link_to "Assignment Home", admin_assignments_path %>
  <%=link_to "Module Home", showmod_admin_assignments_path(mod_id: @module)%>
  <%= help_link(10) %>
<% end -%>
<div id="content-large">
  <article>
    
    <h2>
      Assignment Admin
    </h2>
    <%= render "admin/assignments/form"%>
    <!--Task editor below divis line -->
    <h2>Assignment Tasks</h2>
    <p>
      <%=link_to "Add or Edit Tasks", admin_assignment_tasks_path(@assignment.id) if @assignment %>
    </p>
    <% unless @tasks.empty? %>
      <div class="theader" style="width:100%">
        <div class="cell" style="width:33%;">Name</div>
        <div class="cell" style="width:20%;">Type</div>
        <div class="cell" style="width:25%;">Template</div>
        <div class="cell" style="width:10%;"> % </div>
      </div>
      <% for t in @tasks %> 
        <div class="trow <%= cycle("odd","even") %>" style="width:100%;">
          <div class="cell" style="width:33%;"><%= t.name %></div>
          <div class="cell" style="width:20%;"><%= get_task_type_name(t.task_type) %></div>
          <div class="cell" style="width:25%;"><%= get_templat_name(t.templat_id) %></div>
          <div class="cell" style="width:10%;"><%= number_to_percentage(t.percent, precision:0) %></div>
        </div>
      <% end %>
    <% else %>
      <p class="title small">You have no Tasks! Please create some below.</p>  
    <% end %>
  </article>
</div>

<%= nav_bar(@nav_body_content)%>
