<div id="content-large">
  <article>
    <h2>
      Assignment Admin
      <span class="smallest">
        &nbsp;&nbsp;
        <%=link_to "Go to Assignment Home", admin_assignments_path %>
      </span>
    </h2>
    <%= render "admin/assignments/form"%>
    <!--Task editor below this line -->
    <h2>Assignment Tasks</h2>
    <%=link_to "Add or Edit Tasks", admin_assignment_tasks_path(@assignment.id) if @assignment %>
    <% unless @tasks.empty? %>
      <table>
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Template</th>
          <th> % </th>
        </thead>
        <tbody>
          <% for t in @tasks %>
            <% bc = cycle("odd","even") %>
            <tr>
              <td class="left_end <%=bc%>"><%= t.name %></td>
              <td class="<%=bc%>"><%= t.task_type %></td>
              <td class="<%=bc%>"><%= get_templat_name(t.templat_id) %></td>
              <td class="right_end <%=bc%>"><%= number_to_percentage(t.percent, precision:0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="title small">You have no Tasks! Please create some below.</p>  
    <% end %>
  </article>
</div>

<%= nav_bar(@nav_body_content)%>
