<div id="content-large">
  <article>
    <h1><%= @school.name %></h1>
    <p class="title large">Assignment Administration</p>
    <div>
      <%=link_to "Add New Assignment", new_admin_assignment_path %>
    </div>
    <% unless @assignments.empty? %>
      <p class="title large">Current Assignments</p>
      <div class="trow">
        <div class="hcell" style="width:220px;">Name</div>
        <div class="hcell" style="width:50px;">Module</div>
        <div class="hcell" style="width:50px;">Weight</div>
        <div class="hcell" style="width:50px;">Tasks</div>
        <div class="hcell" style="width:150px;">Admin</div>
      </div>
      <div>
        <% for a in @assignments %>
          <% bc = cycle("odd","even") %>
          <div class="trow">
            <div class="rcell left_end <%=bc%>" style="width:220px;"><%= a.name %></div>
            <div class="rcell <%=bc%>" style="width:50px;"><%= a.module %></div>
            <div class="rcell <%=bc%>" style="width:50px;"><%= a.weight %></div>
            <div class="rcell <%=bc%>" style="<%= "background-color:red;" unless a.tasks.count > 0 %> width:50px;"><%= a.tasks.count %></div>
            <div class="rcell <%=bc%>" style="width:40px;"><%=link_to "Edit", edit_admin_assignment_path(a.id) %></div>
            <div class="rcell right_end <%=bc%>" style="width:110px;"><%=link_to "Add/Edit Tasks", admin_assignment_tasks_path(a.id)  %></div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="title small">You must first create an assignment.</p>
    <% end %>
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
