<% content_for :breadcrumbs do %>
  <%=link_to "Admin Tools", admin_tools_path %>
<% end %>
<div id="content-large">
  <article>
    
    <h1><%= @school.name %></h1>
    <p class="title large">Assignment Administration</p>
    <div>
      <%=link_to "Add New Assignment", new_admin_assignment_path %>
    </div>
    <% unless @mods.empty? %>
      <p>There are <%= @mods.count %> Modules with assignments.</p>
      <ul>
        <% for m in @mods %>
          <li><%=link_to "View the #{pluralize(count_assignments(m[0]),"Assignment")} in Module #{m[0]}", showmod_admin_assignments_path(:mod_id => m[0]) %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="title small">You must first create an assignment.</p>
      <div>
        <%=link_to "Add New Assignment", new_admin_assignment_path %>
      </div>
    <% end %>
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
