<script>
  $(window).load(function() {
    $( "#sortable" ).sortable({
      axis: 'y',
      dropOnEmpty: false,
      items: 'div',
      handle: '.handle',
      cursor: 'crosshair',
      scroll: true,
      opacity: 0.5,
      update: function(){
        $.ajax({
          type: 'post',
          dataType: 'script',
          data: $('#sortable').sortable('serialize') + '&mod_id=<%= @module %>',
          url: 'sort' 
        })
      }
    });
    $( "#sortable" ).disableSelection();
  });
</script>


<div id="content-large">
  <article>
    <h1><%= @school.name %></h1>
    <p class="title large">Module <%= @module %> Assignments Administration</p>
    <div>
      <%=link_to "Assignments Home", admin_assignments_path %><br />
      <%=link_to "Add New Assignment", new_admin_assignment_path %>
    </div>
    <br />
    <% unless @assignments.empty? %>
      <div class="theader">
        <div class="cell" style="width:30%;">Name</div>
        <div class="cell" style="width:14%;">Due Time</div>
        <div class="cell" style="width:8%;">Weight</div>
        <div class="cell" style="width:6%;">Tasks</div>
        <div class="cell" style="width:24%;">Admin</div>
      </div>
      <div id="sortable">
      <% for a in @assignments %>
        <div id="assignment_<%=a.id%>" class="trow <%= cycle("odd","even") %>">
          <span class="cell handle" style="width:5%">||||</span>
          <span class="cell" style="width:25%;"><%= a.name %></span>
          <span class="cell" style="width:14%;"><%= "not done yet"  %></span>
          <span class="cell" style="width:8%;"><%= a.weight %></span>
          <span class="cell" style="width:6%;<%= "background-color:red;" unless a.tasks.count > 0 %>;">
            <%= a.tasks.count %>
          </span>
          <span class="cell" style="width:5%;">
            <%=link_to "Edit", edit_admin_assignment_path(a.id), {title: "Edit this assignment"} %>
          </span>
          <span class="cell" style="width:8%;">
            <%=link_to "Delete", [:admin,a], {method: :delete, title: "Delete this assignment and all tasks.", data: {confirm: "Are you sure?"}} %>
          </span>
          <span class="cell" style="width:12%;">
            <%=link_to "Tasks", admin_assignment_tasks_path(a.id), {title: "Add or Edit Tasks for this assignment"}  %>
          </span>
        </div>
      <% end %>
      </div>
    <% else %>
      <p class="title small">You must first create an assignment.</p>
    <% end %>
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
