<div id="content-large">
  <article>
    <h1><%= @school.name %></h1>
    <p class="title large">Module <%= @module %> Assignments Administration</p>
    <div>
      <%=link_to "Assignments Home", admin_assignments_path %><br />
      <%=link_to "Add New Assignment", new_admin_assignment_path %>
    </div>
    <br />
    <% unless @assignments.empty? %>
      <div class="theader" style="width:100%">
        <div class="cell" style="width:27%;">Name</div>
        <div class="cell" style="width:8%;">Module</div>
        <div class="cell" style="width:8%;">Weight</div>
        <div class="cell" style="width:8%;">Tasks</div>
        <div class="cell" style="width:30%;">Admin</div>
      </div>
      <% for a in @assignments %>
        <div class="trow <%= cycle("odd","even") %>" style="width:100%">
          <div class="cell" style="width:2%"><%= a.a_order %></div>
          <div class="cell" style="width:25%;"><%= a.name %></div>
          <div class="cell" style="width:8%;"><%= a.module %></div>
          <div class="cell" style="width:8%;"><%= a.weight %></div>
          <div class="cell" style="width:8%;<%= "background-color:red;" unless a.tasks.count > 0 %>;">
            <%= a.tasks.count %>
          </div>
          <div class="cell" style="width:7%;">
            <%=link_to "Edit", edit_admin_assignment_path(a.id) %>
          </div>
          <div class="cell" style="width:7%;">
            <%=link_to "Delete", [:admin,a], method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <div class="cell" style="width:16%;">
            <%=link_to "Add/Edit Tasks", admin_assignment_tasks_path(a.id)  %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="title small">You must first create an assignment.</p>
    <% end %>
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
