<% content_for :breadcrumbs do %>
  <%=link_to "Admin Tools", admin_tools_path %>
  <%= help_link(3) %>
<% end %>
<div id="content-large">
  <article>    
    <p class="title larger bolder">Editing <%= @school.name %></p>
    <p><%=link_to "Request a new public school", new_order_path(user_id: current_user.id) %></p>
    
    <%= render "form" %>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
