<%= form_for(@paper) do |f| %>
  <% include_form_validation_errors(@paper) %>

  <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, {style: "width:97%;"} %>
  </div>
  <div class="field" style="float:left;width:50%;">
    <%= f.label :author %><br />
    <%= f.text_field :author, {style: "width:95%;"} %><br />
    <%= f.label :tags %><br />
    <%= f.text_area :tags, {rows: 4, style: "width: 95%;"} %><br />
    <%= f.label :draft %>
    <%= f.check_box :draft %> (Check to release for review)
  </div>
  <div class="field" style="float: left;width:50%;">
    <%= f.label :synopsis %><br />
    <%= f.text_area :synopsis, {rows: 12, style: "width: 95%;"} %>
  </div>
  
  <div class="actions" style="width:100%;float:left;">
    <%= f.submit %>
  </div>
<% end %>
