<% content_for :breadcrumbs do %>
  <%=link_to "Journal Home", journal_path %>
  <%=link_to "Writers Desk", writers_desk_path %>
<% end %>

<div id="content-large">
  <article>
    <p>
      <%=link_to "Write Paper", paper_write_path(@paper)  %>
    </p> 
    <p>&nbsp;</p>
    <%= render 'form' %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>

