<h1>Listing papers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Synopsis</th>
    <th>Body</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @papers.each do |paper| %>
  <tr>
    <td><%= paper.user_id %></td>
    <td><%= paper.title %></td>
    <td><%= paper.synopsis %></td>
    <td><%= paper.body %></td>
    <td><%= paper.published %></td>
    <td><%= link_to 'Show', paper %></td>
    <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
    <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paper', new_paper_path %>
