<% content_for :breadcrumbs do %>
  <%=link_to "Studyworx Journal", journal_path unless current_user %>
  <%=link_to "Homeroom", schools_path if current_user %>
  <%=link_to "Writers Desk", writers_desk_path if current_user and current_user.is_contributor %>
<% end %>


<div id="content-large">
  <article>
    <h2>StudyWorx Journal</h2>
    <section>
      <blockquote>
        The Studyworx Journal is designed to be both a resource for students and platform for those who wish to
        publish a high quality academically reviewed paper.
      </blockquote>
    </section>
    <section>
      <p class="title large bolder">Currently available papers</p>
    
      <% @papers.each do |p| %>
        <p>
          <%=link_to p.title, paper_path(p) %>
        </p>     
      <% end %>
    </section>   
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
