<% content_for :breadcrumbs do %>
  <%=link_to "Admin Tools", admin_tools_path %>
  <%= help_link(5) %>
<% end %>
<div id="content-large">
  <article>
    
    <h1><%= @school.name%> - Templates</h1>
    
    <p>
      <%=link_to "Create a new Template", new_admin_school_templat_path(@school) %>
    </p>
    
    <div id="templat_area">
      <% unless @templats.empty? %>
          <div class="theader">
            <div class="cell" style="width:300px;">Template Name</div>
            <div class="cell" style="width:100px;">Template Admin</div>
          </div>
          <div>
            <% for t in @templats %>
              
              <div class="trow <%= cycle("odd","even") %>">
                <div class="cell" style="width:300px;"><%= t.name %></div>
                <div class="cell" style="width:100px;">
                  <%=link_to "edit", edit_admin_school_templat_path(@school,t) %> 
                  <%=link_to "delete", admin_school_templat_path(@school,t), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% end %>
          </div>
      <% end %> 
    </div> 
  </article>
</div>

<%= nav_bar(@nav_body_content) %>

