<% content_for :breadcrumbs do %>
  <%=link_to "Homeroom", schools_path %>
  <%=link_to "Admin Tools", admin_tools_path %>
<% end %>

<div id="content-large">
  <article>
    <h2>Reports</h2>
    <% @students.each do |s| %>
      <p>
        <%=link_to s.fullname_lnf, school_user_grades_report_path(@school,s.id), {title: "View all Grades"} %> 
        - <%= letter_grade(s.grade_average) %>  
        (<%= s.grade_average %>)
      </p>
      
    <% end %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
