
  <div id="current_school" class="float_left title">
    <span id="schoolname"><%= @school.name if @school %></span>
  </div>
  <div class="float_left">
    <p class="title small">My Schools</p>
    <% if @my_schools %>
      <div class="float_left title smaller">
        <%= "click to enroll below..." if @my_schools.empty? %>
      </div>
        <% for ms in @my_schools %>
          <div class="float_left title smaller" style="margin: 0px;">
            <%=  ms.name %> 
            <%=link_to( "Set as default school", set_current_school_path(ms.id), { class: "smaller"}) if ms.id %>
          </div>
        <% end %>
    <% end %>
  </div>
  <div class="float_left">
    <p class="title small">Currently available Schools</p>
    <% for s in @schools %>
      <div class="float_left title smaller" style="margin: 0px;">
        <%= link_to(s.name, school_path(s.id)) %>
      </div>
    <% end %>
  </div>
