<div id="content-large">
  <article>
    <header style="background-image:url('<%= @school.header.url%>');">
      <div class="avatar" style="background-image:url('<%= @school.logo.url(:thumb) %>')"></div>
      <h1>
        <%= @school.name %>
      </h1>
      <p class="title small">Welcome <%=current_user.fullname %></p>
    </header> 
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
