<div id="content-large">
  <article>
    <header style="background-image:url('<%= @school.header.url%>');">
      <div class="avatar" style="background-image:url('<%= @school.logo.url(:thumb) %>')"></div>
      <div id="registration">
        <%= render "participants/reglink" %>
      </div>
      <p class="title">
        <%= @school.name %>
      </p>
      <p>
        <%= formatter( @school.location) %>
      </p>
      <p>
        <%= @school.tagline %>
      </p>
    </header>    
    <div class="floatbox_trans limited" 
      <%= formatter(@school.description) %>
      <hr />
      <p>
        <b>Pre-Requisites:</b><br />
        <%= formatter(@school.prereqs) %>
      </p>    
      <p>
        <b>Start date:</b>
        <%= @school.start_date.strftime("%m/%d/%Y") %>
      </p>      
      <p>
        <b>End date:</b>
        <%= @school.end_date.strftime("%m/%d/%Y") %>
      </p>
      <p>
        <b>Mailing address:</b><br />
        <%= formatter(@school.mailing_address) %>
      </p>
    </div>
    <div class="floatbox_trans" style="width:245px;">
      <caption><%= @school.caption %></caption>
      <%=image_tag(@school.featured.url(:medium),{:size=>"240x240"}) %>
    </div>
  </article>
</div>

<%= nav_bar("schools/schools")%>
  

