<div id="content-large">
  <article>
    <header>
      <div class="avatar" style="background-image:url('<%= @school.logo.url(:thumb) %>')"></div>
      <div id="registration">
        <%= render "participants/reglink" %>
      </div>
      <h1>
        <%= @school.name %>
      </h1>
      <p>
        <%= formatter( @school.location) %>
      </p>
      <p class="title large">
        <%= @school.tagline %>
      </p>
    </header>    
    <div class="limited">       
      <p>
        <b>About us:</b><br />
        <%= formatter(@school.description) %>
      </p>
      
      <p>
        <b>Pre-Requisites:</b><br />
        <%= formatter(@school.prereqs) %>
      </p>    
      <p>
        <b>Start date:</b>
        <%= @school.start_date.strftime("%m/%d/%Y") %>
      </p>      
      <p>
        <b>End date:</b>
        <%= @school.end_date.strftime("%m/%d/%Y") %>
      </p>
      <p>
        <b>Mailing address:</b><br />
        <%= formatter(@school.mailing_address) %>
      </p>
    </div>
    <figure>
      <figcaption><%= @school.caption %></figcaption><br />
      <%=image_tag(@school.featured.url(:medium),{:size=>"300x300"}) %>
    </figure>
  </article>
</div>

<%= nav_bar("schools/schools")%>
  

