<h1>Editing <%= @participant.user.fullname %></h1>

<%= form_for(@participant, {url: admin_tools_update_participant_path(@participant), remote: true} ) do |f|  %>
  <p class="smaller">
    Pre-requisites? 
    <%= f.check_box :prereq %>
  </p>
  <p class="smaller">
    Edit Status: <%= f.select( :accepted, {"Pending"=>"0","Dropped"=>"1","Accept"=>"2"} , { :include_blank => true })%>
  </p>
  <p class="smaller">
    Edit Role: <%= f.select( :role_id, {"Student"=>"4","Staff"=>"3","Admin Assistant"=>"2","Leader"=>"1"})%>
  </p>
  <div class="smaller">
    Select a Core Team: <br />
    <%= select_tag "coreteam", options_from_collection_for_select(@teams, "id","name",@participant.coreteam.id)%>
  </div>
  <p class="actions">
    <%= f.submit "Update #{@participant.user.fullname}" %>
  </p>
<% end %>