<div id="participant_<%= p.id %>" class="trow" <%=raw status_color(p.accepted) %>>
  <span class="cell smaller" style="width:35%;">
    <%=link_to p.user.fullname, teams_show_user_path(p.user.id),{remote: true, title: "Click to view user."} %>
  </span> 
  <span class="cell smallest" style="width:30%;"><%= p.role.rolename %></span>
  <span class="cell smallest" style="width:10%;"><%= p.status %></span>
  <span class=-"cell" style="width:5%;">
    <%=link_to "Edit", admin_tools_edit_participant_path(p.id),{remote: true,class: "smallest"} %>
  </span>
</div>