<div id="content-large">    
    <article>
      <header>
        <div class="avatar" style="background-image:url('<%= @school.logo.url(:thumb) %>')"></div>
        <h1>
          <%= @school.name %>
        </h1>
        <p class="title small">Welcome <%=current_user.fullname %></p>
      </header>
      <% if current_user.admin_assistant? %>
        <section class="float_left limited">
          <h2>School Admin Tools</h2>
          <%=link_to "School Admin", edit_admin_school_path(@school) %><br />
          <%=link_to "Assignment Admin", admin_assignments_path %><br />
          <%=link_to "Due Time Admin", admin_duedates_path %><br />
          <%=link_to "Template Admin", admin_school_templats_path(current_user.school) %><br />
          <%=link_to "Scoresheet Admin", admin_school_scoresheets_path(current_user.school) %><br />
          <%=link_to "Observation Admin", admin_school_observations_path(current_user.school) %><br />
          <%=link_to "Personnel Admin", admin_tools_personnel_path %><br />
          <%=link_to( "System help editor", admin_helps_path) if is_admin %>
        </section>
      <% end %>
      <% if is_admin %>
        <section class="float_left limited">
          <h2>Global Admin Tools</h2>
          <p class="title small">Select a book below to edit paragraph info</p>
          <%= form_tag admin_tools_book_path do %>
            <%= select_tag "book_id", options_from_collection_for_select(@books, "id", "name") %>
            <%= submit_tag "Select" %>
          <% end %>
        </section>      
      <% end %>
    </article>
</div>

<%= nav_bar(@nav_body_content) %>
 
