<%= content_for :breadcrumbs do %>
  <span><%=link_to "Admin Tools", admin_tools_path %></span>
  <span><%= help_link(8) %></span>
<% end -%>

<div id="content-large">
  <article>
    <h1>Listing observations</h1>
    
    <%= link_to 'New Observation', new_admin_school_observation_path(current_user.school) %>
    
    <br />
    <div class="theader">
      <span class="cell" style="width:20%;">Name</span>
      <span class="cell" style="width:15%;">Code</span>
      <span class="cell" style="width:50%;">Admin</span>
    </div>
    
    <% @observations.each do |observation| %>
      <div class="trow <%= cycle("odd","even")%>">
        <span class="cell" style="width:25%;"><%= observation.name %></span>
        <span class="cell" style="width:25%;"><%= observation.code %></span>
        <span class="cell" style="width:7%;"><%= link_to 'Edit', edit_admin_school_observation_path(@school,observation) %></span>
        <span class="cell" style="width:7%;"><%= link_to 'Destroy', admin_school_observation_path(@school,observation), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>

  </article>
</div>
<%= nav_bar(@nav_body_content) %>
