<%= content_for :breadcrumbs do %>
  <span><%= link_to "Admin Tools", admin_tools_path %></span>
  <span><%= link_to 'Observation Home', admin_school_observations_path(@school) %></span>
  <span><%= link_to 'Edit', edit_admin_school_observation_path(@school, @observation) %> </span>
<% end -%>

<div id="content-large">
  <article>
    
    <p>
      <b>Code:</b>
      <%= @observation.code %>
    </p>
    
    <p>
      <b>Name:</b>
      <%= @observation.name %>
    </p>
    
    <p>
      <b>Public:</b>
      <%= @observation.public %>
    </p>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
