<% @grading_view = true %>

<section class="topic">
  <h3><%= @task.name %> Topic</h3>
  <%= formatter(@task.help) %>
</section>
<section>
  <% @comments.each do |c| %>
    <div id="comment_<%=c.id.to_s%>" class="comment">
      <%= render partial: "comments/comment",locals: {c: c, t: @task}  %>
      <% c.children.each do |cc| %>
        <div id="comment_<%=cc.id.to_s%>" class="comment">
          <%= render partial: "comments/comment", locals: {c: cc, t: @task}  %>
          <% cc.children.each do |ccc| %>
            <div id="comment_<%=ccc.id.to_s%>" class="comment">
              <%= render partial: "comments/comment", locals: {c: ccc, t: @task}  %>
            </div> 
          <% end %>
        </div> 
      <% end %>
    </div>
  <% end %>
</section>