
<% if current_user.student? %>
  <span><%=link_to "#{get_assignment_name(@assignment.id)} Home", school_assignment_path(@school,@assignment.id) %></span>
  <span><%=link_to "Stickie Notes", school_grade_path(@school,@grade)%></span>
<% end %>

<% if current_user.staff? %>
  <span><%= link_to "Homeroom", schools_path %></span>
  <span><%= link_to "Collect Assignments", school_collect_path(@school) %></span>
  <span><%= link_to "Grading Office", school_grading_office_path(@school.id) %></span>
<% end %>

