<script>
    $('#vertical_container').on("click",".pp",function(){
      var id = $(this).data('id');
      var tid = $(this).data('taskid');
        $.ajax({
          type: "GET",
          url: "/task/"+tid+"/ppoint/"+id+"/staffnote"
        });
    });
</script>
<div id="vertical_container">
  <div class="sg">
    <p class="title larger"><%= @vertical.title %></p>
  </div>
  <% for p in @vertical.children %>
    <div id="p_<%=p.id%>" class="p_container" style="min-height:<%=p.verse_count * 24 %>px;">
      <div id="Title_<%=p.id%>" class="pt">
        <%=link_to p.title, task_title_staffnote_path(@task,p), {remote: true, title: "Click to view/edit staff note."} %>
        <%= image_tag("staffnote.png",{size: "16x16",id: "staffnote_#{p.staffnotes.first.id}",title: "Click title to check staff note.", style: "float: right;"}) if p.staffnotes.first %>
      </div>
      <% for pp in p.ppoints %>
        <%= render "charts/ppoint", {ppoint: pp} %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="outside_container">
  <article id="Charttext_<%= @vertical.charttext.id.to_s %>">
    <%= image_tag("staffnote.png",{size: "16x16",id: "staffnote_#{@vertical.charttext.staffnotes.first.id}",title: "Click title to check staff note.", style: "float: right;"}) if @vertical.charttext.staffnotes.first %>
    <h3><%=link_to "#{@vertical.get_book_title } - Vertical #{@vertical.segnum.to_s }", task_charttext_staffnote_path(@task,@vertical.charttext.id),{remote: true}%></h3>
    <%= smart_format(@vertical.charttext.content_type, @vertical.charttext.content) if @vertical.charttext %>
  </article>
</div>
