<%= form_for([@paper,@review], {remote: true}) do |f| %>
  
  <%= include_form_validation_errors(@review)  %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :paper_id %>
  <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,{rows:14, style: "width: 98%;"} %>
  </div>
  
<% end %>
