<% content_for :breadcrumbs do %>
  <%=link_to "Journal", journal_path %>
  <%=link_to "Review Tools"%>
<% end %>

<div id="content-large" style="height: 98%;">
  <article style="height:98%;">
    <div class="reader">
      <p class="title largest"><%= @paper.title %></p>
      <p class="title small"><%= get_full_name(@paper.user_id) %> - Last updated: <%= time_ago_in_words(@paper.updated_at)%> ago.</p>
      <hr />
      <%= formatter(@paper.content) %>
    </div>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
