<div id="lightbox_data"> 
  <%=link_to "close",close_lightbox_path,{remote: true,style: "float:right;"}%>
  <h3><%= @task.assignment.name %> Images</h3>
  <em>Do not double click on links.</em>
  <em>These images may take a long time to generate.</em>
  <hr />
  <p class="theader">
    <span class="cell"><%=link_to "Horizontal",task_download_horizontal_path(@task),{onClick: "ShowSpinner()",title: "Click to download"}%></span>
    <span class="cell"><%=link_to "All Charts",task_download_all_charts_path(@task),{onClick: "ShowSpinner()",title: "Click to download all charts."}%></span>
  </p>
  <blockquote>
    <% @segments.each do |s| %>
      <p><%=link_to "Segment #{s.segnum}",task_download_vertical_path(@task,vertical_id: s.id),{onClick: "ShowSpinner()",title: "Click to download"} %></p>
    <% end %>
  </blockquote>
  
</div>
