<div id="nav_right">
  <div id='nav_heading'>
    <% if current_user %>
      <div style="float:left;width:100%;">
        <div class='avatar' style="background-image:url(<%= "/system/images/#{session[:avatar]}/thumb/#{session[:avatar_image]}" %>);" onclick="OpenProfile(<%=current_user.id%>)">
        </div>
        <div id="nav_heading_content" class="title">
          <%= content if content %>
        </div>
        <div id="scratchpad_heading" class="title smaller">
          &nbsp;<%=link_to(image_tag("gray/home.png"), profile_path(current_user.id),{title: "Schools"}) if current_user %>
          &nbsp;<%=link_to(image_tag("gray/edit.png"), profile_load_reminder_path(current_user.id),{title: "Note to Self", remote: true}) if current_user %>     
          &nbsp;<%=link_to(image_tag("gray/chat.png"), messages_path,{title: "Messaging", remote: true}) if current_user %>
          &nbsp;<%=link_to(image_tag("gray/womanman.png"), schools_path,{title: "Teams", remote: true}) if current_user %>
          &nbsp;<%=link_to(image_tag("gray/addressbook.png"), schools_path,{title: "Assignments", remote: true}) if session[:school_id] %>
        </div> 
        <div id="reminder">
          <%= render :partial=>"profiles/reminder"%>
        </div>
      </div>
    <% end %> 
      <div id="nav_body_content">
        <%=render nav_body_content %>
      </div>    
  </div>
</div>
