<aside>
  <div id='nav_heading'>
    <% if current_user %>
      <div style="float:left;width:100%;">
        <div class='avatar' style="background-image:url('<%= current_user.avatar.url(:thumb) %>');" onclick="OpenFullProfile(<%=current_user.id%>)">
        </div>
        <div id="nav_heading_content" class="title">
          <%= content if content %>
        </div>
        <div id="scratchpad_heading">
          <div class="tab"><%=link_to(image_tag("iconic/home_16x16.png",size: "16x16"), schools_path,{title: "Start Here"}) if current_user %></div>
          <div class="tab"><%=link_to(image_tag("iconic/paperclip_14x16.png",size: "16x16"), reminder_show_profile_path(current_user.id),{title: "Note to Self", remote: true}) if current_user %></div>     
          <div class="tab"><%=link_to(image_tag("iconic/lightbulb_10x16.png",size: "16x16"), public_show_profile_path(current_user.id),{title: "Public-Thought of the Day", remote: true}) if current_user %></div> 
          <div class="tab"><%=link_to(image_tag("iconic/comment_stroke_16x14.png",size: "16x16"), messages_path,{title: "Messaging", remote: true}) if current_user %></div>
          <div class="tab"><%=link_to(image_tag("iconic/chat_16x16.png",size: "16x16"), team_messages_path,{title: "Team Messages", remote: true}) if current_user %></div>
          <div class="tab"><%=link_to(image_tag("iconic/sun_stroke_32x32.png",size: "16x16"), teams_path,{title: "Team Admin"}) if current_user %></div>
          <div class="tab"><%=link_to(image_tag("iconic/book_alt2_32x28.png",size: "16x16"), profile_toggletheme_path(current_user.id) ,{title: "Toggle wallpaper on/off"}) if current_user %></div>
          <div class="tab"><%=link_to(image_tag("iconic/cog_16x16.png",size: "16x16"), profile_loadtheme_path(current_user.id) ,{remote: true,title: "Set personal preferences"}) if current_user %></div>
          
        </div> 
        <div id="reminder">
          <%= render :partial=>"profiles/reminder"%>
        </div>
      </div>
    <% end %> 
      <div id="nav_body_content">
        <%=render nav_body_content %>
      </div>    
  </div> 
</aside>

