<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Studyworx</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      $(window).load(function(){
        $('#alert').fadeOut(5000);
        $('#notice').fadeOut(5000);
      });
    </script>
  </head>
  <body style="<%= set_wallpaper %>">
  	<div id='content'>
  		<%= yield %>
  	</div>
  	<div id="header">
    	<%= render "layouts/header"%>
    	<% if current_user %>
    	 <%= render 'layouts/profile' %>
    	<% else %>
    	 <%= render 'layouts/login'%>
      <% end %>
    	<%= render "layouts/alert"%>
  	</div>
  	<div id="popup" class="invisible">
  	  <div>
  	    <%=link_to "Close", close_popup_path,{remote: true, id: "popup_cancel"} %>
  	  </div>
  	  <div id="popup_content"></div>
  	</div>
  </body>
</html>
