<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Studyworx</title>
    
    <%= stylesheet_link_tag "base", :media => "all" %>
    <%= stylesheet_link_tag "wysiwyg", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
  </head>
  <body style="<%= set_wallpaper %>">
    
  	<div id='content'>
  		<%= yield %>
  	</div>
  	
  	<div id="header">
    	<%= render "layouts/header"%>
    	<% if current_user %>
    	 <%= render 'layouts/profile' %>
    	<% else %>
    	 <%= render 'layouts/login'%>
      <% end %>
  	</div>
  	
  	<div id="fullscreen_container" class="fullscreen">
  	  <%= yield :fullscreen %>
  	</div>
  	
  	<div id="popup">
      <div id="popup_cancel" >
        <%=link_to "Close", close_popup_path,{remote: true, class: "noauto"} %>
      </div>
      <div id="popup_content">
      </div>
    </div>
    
  	<%= render "layouts/alert"%>
  </body>
</html>
