<!DOCTYPE html>
<html>
<head>
  <title>Studyworx3</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
=======
>>>>>>> d1fc8d9eb51d89019256b3b4b96cf89891d30149

<%= yield %>

</body>
</html>
